<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Welcome to index page</title>
</head>
<body>
  {% if request.user.is_authenticated %}
    <h4><a href="{% url 'poet:logout' %}">로그아웃</a></h4>
    <p>Hello, {{ request.user.nickname }}</p>
    <p>Your last log in is {{ request.user.recent_visited_date }}</p>
		{% if request.user.image %}
			<img src="{{ request.user.image.url }}" alt="유저 사진">
		{% endif %}
  {% else %}
    <p>Hello, Anonymous</p>
    <h4><a href="{% url 'poet:signin' %}">회원가입</a></h4>
    <h4><a href="{% url 'poet:login' %}">로그인</a></h4>
  {% endif %}
</body>
</html>
